<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="task">

  <select id="selectProject" resultType="project">
  		SELECT * FROM PROJECTTABLE P JOIN  PROJECTMEMBER PM USING(PROJECTNO) WHERE PM.USERID=#{id}
  </select>
  <select id="selectTaskEach" resultType="com.madmax.stool.task.model.vo.TaskPb">
  		SELECT * FROM TASK JOIN PROJECTBOARD USING(BOARDNO) WHERE PROJECTNO=#{no}
  </select>
  <select id="selectTaskFilter" resultType="com.madmax.stool.task.model.vo.TaskPb">
  		SELECT P.BOARDNO,T.TASKNO,TASKTITLE,TASKSTATE,TASKPROIORITY,TASKCONTENT,TASKID,P.PROJECTNO,BOARDTYPE,PINPOST,
  		TO_CHAR(TO_DATE(TASKSTARTDATE), 'yyyy/mm/dd') AS TASKSTARTDATE,TO_CHAR(TO_DATE(TASKENDDATE), 'yyyy/mm/dd') AS TASKENDDATE
  		FROM TASK T  
  		JOIN PROJECTBOARD P ON T.BOARDNO=P.BOARDNO 
  		JOIN TASKMANAGER TM ON T.TASKNO=TM.TASKNO 
  		<!-- 프로젝트 번호 -->
  		<where>
  			<if test="projectNo!=null and projectNo!='' ">
  				PROJECTNO=#{projectNo}
  			</if>
  		<!-- 업무 유형을 골랐을때 -->
  		<if test="task!=null and !task.equals('전체업무')">
  			<if test="task.equals('요청한업무')">
  				AND TASKID=#{userId}
  			</if>
  			<if test="task.equals('내업무')">
  				 AND TASKID=#{userId} OR TASKMANAGERID=#{userId}
  			</if>
  		</if>
  		<!-- 상태를 골랐을때 -->
  		<if test="status!=null and status!='' ">
  			AND TASKSTATE=#{status}
  		</if>
  		<!-- 우선순위 골랐을때 -->
  		<if test="priority!=null and priority!='' ">
  			AND TASKPROIORITY=#{priority}
  		</if>
		<!-- 시작일을 골랐을때 -->
			<if test="startDate.equals('오늘')">
			 AND TO_CHAR(TASKSTARTDATE,'yyyy/mm/dd') =TO_CHAR(SYSDATE,'yyyy/mm/dd')
			</if>
			<!-- 이번주 일때 -->
			<if test="startDate.equals('일주일이내')">
			 <![CDATA[AND TO_CHAR(TASKSTARTDATE,'yyyy/mm/dd') IN (SELECT TRUNC(SYSDATE, 'DAY') + LEVEL - 1 FROM DUAL CONNECT BY LEVEL <=7)]]>
			 </if>
			 <!-- 한달일때 -->
			 <if test="startDate.equals('한달이내')">
			 AND TO_CHAR(TASKSTARTDATE,'yyyy/mm/dd') BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-1),'yyyy/mm/dd') AND TO_CHAR(ADD_MONTHS(SYSDATE,+1),'yyyy/mm/dd')
			 </if>
		 <!-- 시작일 끝 -->
		 <!-- 마감일 골랐을때(전체,지연,오늘,일주일이내,한달이내  -->
		 	<!-- 지연일때 -->
		 <if test="endDate.equals('지연')">
		 	<![CDATA[AND TO_CHAR(TASKENDDATE,'yyyy/mm/dd') < TO_CHAR(SYSDATE,'yyyy/mm/dd')]]>
		 </if>
		 <!-- 오늘일때 -->
		 <if test="endDate.equals('오늘까지')">
		 	<![CDATA[AND TO_CHAR(TASKENDDATE,'yyyy/mm/dd') = TO_CHAR(SYSDATE,'yyyy/mm/dd')]]>
		 </if>
		 <if test="endDate.equals('일주일이내')">
		 	<![CDATA[AND TO_CHAR(TASKENDDATE,'yyyy/mm/dd') IN (SELECT TRUNC(SYSDATE, 'DAY') + LEVEL - 1 FROM DUAL CONNECT BY LEVEL <=7)]]>
		 </if>
		 <if test="endDate.equals('한달이내')">
		 	<![CDATA[AND TO_CHAR(TASKENDDATE,'yyyy/mm/dd') BETWEEN TO_CHAR(ADD_MONTHS(SYSDATE,-1),'yyyy/mm/dd') AND TO_CHAR(ADD_MONTHS(SYSDATE,+1),'yyyy/mm/dd')]]>
		 </if>
		</where>
		
  </select>
  <select id="selectTaskView" resultType="com.madmax.stool.task.model.vo.TaskPb">
  	SELECT TASKNO,TASKTITLE,TASKSTATE,TASKPROIORITY,TO_CHAR(TO_DATE(TASKSTARTDATE), 'yyyy/mm/dd') AS TASKSTARTDATE,
	TO_CHAR(TO_DATE(TASKENDDATE), 'yyyy/mm/dd') AS TASKENDDATE,TASKCONTENT,TASKID,BOARDNO,USERNAME,PROFILE 
	FROM TASK 
	JOIN STOOLUSER ON TASKID=USERID 
	WHERE BOARDNO=#{boardNo}

  </select>
  <select id="selectTaskNoti" resultType="string">
  	SELECT S.USERNAME,T.BOARDNO FROM STOOLUSER S JOIN TASKMANAGER TM ON S.USERID=TM.TASKMANAGERID JOIN  TASK T ON T.TASKNO=TM.TASKNO
	WHERE T.BOARDNO=#{boardNo}
  </select>
</mapper>
