<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approval">
	<select id="selectDeptInfo" resultType="deptUsers">
		SELECT * FROM DEPT
	</select>
	<select id="selectDeptUsers" parameterType="deptUsers"
								 resultType="apprUser">
		SELECT * FROM STOOLUSER LEFT JOIN DEPT USING(DEPTCODE)
								LEFT JOIN JOBTABLE USING(JOBCODE) 
								WHERE DEPTCODE=#{deptCode} ORDER BY jobcode
	</select>
	
	<select id="selectApprDocList" resultType="apprDocType">
		SELECT * FROM APPRDOCTYPE 
	</select>
	
	<select id="selectApprDocListCount" resultType="_int">
		SELECT COUNT(*) FROM APPRDOCTYPE
	</select>
	
	<select id="selectApprDocForm" parameterType="_int" 
								resultType="apprDocType">
		SELECT * FROM APPRDOCTYPE WHERE APPRDOCTYPENO=#{apprDocTypeNo}
	</select>
	
	<insert id="insertApproval" parameterType="approval">
		INSERT INTO APPROVAL VALUES(SEQ_APPRNO.NEXTVAL, #{apprTitle}, #{apprContent}, #{apprText}, sysdate, sysdate, #{apprDocTypeNo}, #{userId}, #{finalApprStep}, 0, 1)
		<selectKey order="AFTER" keyProperty="apprNo" resultType="_int">
			SELECT SEQ_APPRNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="insertApprLine" parameterType="apprLine">
		INSERT INTO APPRLINE VALUES(#{apprNo}, #{apprType}, #{apprStep}, #{apprUser})
	</insert>
	
	<select id="selectApprReqList" parameterType="string" resultType="approval">
		SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) WHERE USERID=#{userId} AND APPRSTATUS IN (1,2) ORDER BY WRITEDATE DESC	 
	</select>
	
	<select id="selectApproval" parameterType="_int" resultType="com.madmax.stool.approval.model.vo.ApprDoc">
		SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
			JOIN STOOLUSER USING(USERID) 
    		JOIN DEPT USING(DEPTCODE)	
    		JOIN JOBTABLE USING(JOBCODE)
		 WHERE APPRNO=#{apprNo}
	</select>
	
	<select id="selectApprLine" parameterType="_int" resultType="ApprLine">
		SELECT * FROM APPRLINE 
			JOIN STOOLUSER ON(APPRUSER=USERID)
			JOIN DEPT USING(DEPTCODE)
    		JOIN JOBTABLE USING(JOBCODE)		WHERE APPRNO=#{apprNo} 
	</select>
	
	<update id="updateTemporary" parameterType="_int">
		UPDATE APPROVAL SET APPRSTATUS=0 WHERE APPRNO=#{apprNo}	
	</update>
	
	<delete id="deleteDoc" parameterType="_int">
		DELETE FROM APPROVAL WHERE APPRNO=#{apprNo}
	</delete>
</mapper>
