<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approval2">
	<select id="selectApprProgList" parameterType="string" resultType="approval">
		SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
			JOIN STOOLUSER USING(USERID) JOIN DEPT USING(DEPTCODE) 
			JOIN APPRLINE USING(APPRNO) WHERE APPRSTEP=2 AND APPRRESULT=1 AND APPRUSER=#{userId}
			ORDER BY WRITEDATE DESC
	</select>
	<select id="selectApprDoneList" parameterType="string" resultType="approval">
		SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
			JOIN STOOLUSER USING(USERID) JOIN DEPT USING(DEPTCODE) 
			JOIN APPRLINE USING(APPRNO) WHERE (APPRSTATUS=3 OR APPRSTATUS=4) AND APPRUSER=#{userId}
			ORDER BY WRITEDATE DESC
	</select>
	
	<select id="selectApprOpinionList"  parameterType="approval" resultType="apprDoc">
		SELECT A.*,(SELECT USERNAME FROM STOOLUSER WHERE USERID=APPRUSER) APPRUSERNAME FROM (SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
			JOIN STOOLUSER USING(USERID) 
    		LEFT JOIN DEPT USING(DEPTCODE)	
    		LEFT JOIN JOBTABLE USING(JOBCODE)
    		JOIN APPRLINE USING(APPRNO)
            WHERE APPRNO=#{apprNo})A
	</select>

	<select id="selectApprDoneOpinionList"  parameterType="approval" resultType="apprDoc">
		SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
			JOIN STOOLUSER USING(USERID) 
    		LEFT JOIN DEPT USING(DEPTCODE)	
    		LEFT JOIN JOBTABLE USING(JOBCODE)
    		JOIN APPRLINE USING(APPRNO)
		 WHERE APPRNO=#{apprNo}
	</select>
	
	<select id="selectApprProgListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM APPROVAL JOIN STOOLUSER USING(USERID) 
			JOIN APPRLINE USING(APPRNO) WHERE APPRSTEP=2 AND APPRRESULT=1 AND APPRUSER=#{userId}
	</select>
	
	<select id="selectApprDoneListCount" parameterType="string" resultType="_int">
	SELECT COUNT(*) FROM APPROVAL JOIN STOOLUSER USING(USERID)  
			JOIN APPRLINE USING(APPRNO) WHERE (APPRSTATUS=3 OR APPRSTATUS=4) AND APPRUSER=#{userId}
	</select>
	
	<select id="selectSearchApprReqBox" parameterType="search" resultType="approval">
		SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
		WHERE USERID=#{userId} AND APPRSTATUS=0 AND APPRTITLE LIKE '%'||#{draftName}||'%' AND
		<![CDATA[
		(WRITEDATE >=TO_DATE(#{startDate}) OR WRITEDATE <=TO_DATE(#{endDate}))  ORDER BY WRITEDATE DESC
		]]>
	</select>
	
	<select id="selectSearchApprTempBox" parameterType="search" resultType="approval">
		SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
		WHERE USERID=#{userId} AND APPRSTATUS IN (1,2) AND APPRTITLE LIKE '%'||#{draftName}||'%' AND
		<![CDATA[
		(WRITEDATE >=TO_DATE(#{startDate}) OR WRITEDATE <=TO_DATE(#{endDate}))  ORDER BY WRITEDATE DESC
		]]>
	</select>
	
	<select id="selectSearchApprWaitBox" parameterType="search" resultType="approval">
			SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
			JOIN STOOLUSER USING(USERID) LEFT JOIN DEPT USING(DEPTCODE) 
			JOIN APPRLINE USING(APPRNO) WHERE CURRAPPRSTEP+1=APPRSTEP AND APPRUSER=#{userId} AND APPRTITLE LIKE '%'||#{draftName}||'%' AND
		<![CDATA[
		(WRITEDATE >=TO_DATE(#{startDate}) OR WRITEDATE <=TO_DATE(#{endDate}))  ORDER BY WRITEDATE DESC
		]]>
	</select>
	<select id="selectSearchApprProgBox" parameterType="search" resultType="approval">
			SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
			JOIN STOOLUSER USING(USERID) LEFT JOIN DEPT USING(DEPTCODE) 
			JOIN APPRLINE USING(APPRNO) WHERE APPRSTEP=2 AND APPRRESULT=1 AND APPRUSER=#{userId} AND APPRTITLE LIKE '%'||#{draftName}||'%' AND
		<![CDATA[
		(WRITEDATE >=TO_DATE(#{startDate}) OR WRITEDATE <=TO_DATE(#{endDate}))  ORDER BY WRITEDATE DESC
		]]>
	</select>
	
	<select id="selectSearchApprDoneBox" parameterType="search" resultType="approval">
			SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) 
			JOIN STOOLUSER USING(USERID) LEFT JOIN DEPT USING(DEPTCODE) 
			JOIN APPRLINE USING(APPRNO) WHERE (APPRSTATUS=3 OR APPRSTATUS=4) AND APPRUSER=#{userId} AND APPRTITLE LIKE '%'||#{draftName}||'%' AND
			APPRSTATUS=#{apprStatus} AND
		<![CDATA[
		(WRITEDATE >=TO_DATE(#{startDate}) OR WRITEDATE <=TO_DATE(#{endDate}))  ORDER BY WRITEDATE DESC
		]]>
	</select>
	
	
	<select id="selectSearchMyDocBox" parameterType="search" resultType="approval">
		SELECT * FROM APPROVAL JOIN APPRDOCTYPE USING(APPRDOCTYPENO) WHERE USERID=#{userId} AND APPRSTATUS IN (3,4) 
		AND APPRTITLE LIKE '%'||#{draftName}||'%' AND
		<![CDATA[
		(WRITEDATE >=TO_DATE(#{startDate}) OR WRITEDATE <=TO_DATE(#{endDate}))  ORDER BY WRITEDATE DESC
		]]>
	
	</select>
</mapper>
