@charset "UTF-8";

	.headerBtn {
		width: 6em; 
		height: 3em; 
		font-size : 13px;
		font-weight : 600;
		color :white; 
		border: 2px solid #233C61; 
		border-radius:50px;
		background-color: #233C61;
	}
	
    .headerBtn:hover {
    	/* background-color: #FFE3E3; */
    	background-color: transparent; 
    	color : #233C61;
    }
    /* 알람 위에 숫자 뱃지 */
    .badge1 {
		position:relative;
	}
	
	.badge1[data-badge]:after {
		content:attr(data-badge);
		position:absolute;
		top:-10px;
		right:-10px;
		font-size:.7em;
		background:#FFE3E3  ;
		color:#233C61;
		width:18px;height:18px;
		text-align:center;
		line-height:18px;
		border-radius:50%;
	}
	
	/* 알람 왔을 때 snackbar로 보여주고 사라지게 하는 css */ 
	#snackbar {
	    visibility: hidden; /* Hidden by default. Visible on click */
	    min-width: 250px; /* Set a default minimum width */
	    margin-left: -125px; /* Divide value of min-width by 2 */
	    background-color: #333; /* Black background color */
	    color: #fff; /* White text color */
	    text-align: center; /* Centered text */
	    border-radius: 2px; /* Rounded borders */
	    padding: 16px; /* Padding */
	    position: fixed; /* Sit on top of the screen */
	    z-index: 10; /* Add a z-index if needed */
	    left: 50%; /* Center the snackbar */
	    bottom: 30px; /* 30px from the bottom */
	    animation-name: snack-animation;
	    -webkit-animation-name: -webkit-snack-animation;
	}
	
	/* Show the snackbar when clicking on a button (class added with JavaScript) */
	.show {
	    visibility: visible !important; /* Show the snackbar */
	}
	
 	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
 	    -webkit-snack-animation: snack-fadein 0.5s, snack-fadeout 0.5s 2.5s;
	    snack-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}
	
	/* Animations to fade the snackbar in and out */
	@-webkit-keyframes snack-fadein {
	    from {bottom: 0; opacity: 0;}
	    to {bottom: 30px; opacity: 1;}
	}
	
	@keyframes snack-fadein {
	    from {bottom: 0; opacity: 0;}	
	    to {bottom: 30px; opacity: 1;}
	}
	
	@-webkit-keyframes snack-fadeout {
	    from {bottom: 30px; opacity: 1;}
	    to {bottom: 0; opacity: 0;}
	}
	
	@keyframes snack-fadeout {
	    from {bottom: 30px; opacity: 1;}
	    to {bottom: 0; opacity: 0;}
	}	 */ 