<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project">
  <insert id="insertProject" >
  	INSERT INTO PROJECTTABLE VALUES(SEQ_PROJECT.NEXTVAL,#{projectTitle},DEFAULT,#{projectType},#{userId},SYSDATE,'P')
  		<selectKey order="AFTER" keyProperty="projectNo" resultType="_int">
  			SELECT SEQ_PROJECT.CURRVAL FROM DUAL
  		</selectKey>
  </insert>
  <insert id="insertProjectMember">
  	INSERT INTO PROJECTMEMBER VALUES(SEQ_PJMEMBERNO.NEXTVAL,#{projectNo},#{userId})
  </insert>
  <select id="selectProjectList" resultType="com.madmax.stool.project.model.vo.Project">
  	SELECT P.*,PM.*,D.DEPTNAME FROM PROJECTTABLE P JOIN PROJECTMEMBER PM ON P.PROJECTNO=PM.PROJECTNO 
	JOIN STOOLUSER U ON P.USERID=U.USERID JOIN DEPT D ON U.DEPTCODE=D.DEPTCODE WHERE PM.USERID=#{id}
	AND P.PROJECTTYPE='N' ORDER BY CREATIONDATE DESC
  </select>
  <select id="selectProjectMembers" resultType="string">
  	SELECT USERNAME FROM PROJECTMEMBER PM JOIN STOOLUSER S ON PM.USERID=S.USERID WHERE PROJECTNO=#{pNo}
  </select>
  <select id="selectProjectCount" resultType="_int">
  	SELECT COUNT(*) FROM PROJECTTABLE P JOIN PROJECTMEMBER PM 
  	ON P.PROJECTNO=PM.PROJECTNO WHERE PM.USERID=#{id} AND P.PROJECTTYPE='N'
  </select>
  <select id="selectComProjectList" resultType="com.madmax.stool.project.model.vo.Project">
  SELECT P.*,D.DEPTNAME FROM PROJECTTABLE P  
	JOIN STOOLUSER U ON P.USERID=U.USERID JOIN DEPT D ON U.DEPTCODE=D.DEPTCODE WHERE 
	P.PROJECTTYPE='Y' ORDER BY CREATIONDATE DESC
  </select>
  <select id="selectComProjectCount" resultType="_int">
  SELECT COUNT(*) FROM PROJECTTABLE P WHERE P.PROJECTTYPE='Y'
  </select>
  
  <select id="selectFavorite" parameterType="string" resultType="com.madmax.stool.project.model.vo.Favorite">
  	SELECT * FROM FAVORITE F JOIN PROJECTTABLE P USING (PROJECTNO) WHERE F.USERID=#{id}
  </select>
  
  <select id="selectFavoriteCount" resultType="_int">
  	SELECT COUNT(*) FROM FAVORITE WHERE USERID=#{id}
  </select>
  
</mapper>
