<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.madmax.stool.common.StringArrayType" alias="strArr"/>
		<typeAlias type="com.madmax.stool.task.model.vo.Task" alias="task"/>
		<typeAlias type="com.madmax.stool.user.model.vo.User" alias="user"/>
		<typeAlias type="com.madmax.stool.project.model.vo.Project" alias="project"/>
		<typeAlias type="com.madmax.stool.task.model.vo.TaskJoinPnPm" alias="taskJoinPnPm"/>
		<typeAlias type="com.madmax.stool.attendance.model.vo.Attendance" alias="attend"/>
		<typeAlias type="com.madmax.stool.approval.model.vo.Approval" alias="approval"/>
		<typeAlias type="com.madmax.stool.approval.model.vo.ApprDocType" alias="apprDocType"/>
		<typeAlias type="com.madmax.stool.approval.model.vo.ApprLine" alias="apprLine"/>
		<typeAlias type="com.madmax.stool.approval.model.vo.DeptUsers" alias="deptUsers"/>
		<typeAlias type="com.madmax.stool.approval.model.vo.User" alias="apprUser"/>
	</typeAliases>
</configuration>
