<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.madmax.stool.common.StringArrayType" alias="strArr"/>
		<typeAlias type="com.madmax.stool.user.model.vo.User" alias="user"/>
		<typeAlias type="com.madmax.stool.project.model.vo.Project" alias="project"/>
	</typeAliases>
</configuration>
