<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="aside">

	<!-- 전체 참여자 수(와 관리자) -->
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(USERID) COUNT FROM PROJECTMEMBER WHERE PROJECTNO=#{pjNo}
	</select>
  
	<select id="selectStoolUser" parameterType="map" resultType="map">
		SELECT USERID,USERNAME FROM STOOLUSER JOIN PROJECTTABLE USING (USERID) WHERE PROJECTNO=#{pjNo}
	</select>
	
	<select id="allAttach" parameterType="_int" resultType="allAttach">
		select a.*,p.BOARDTYPE from WRITINGATTACHMENT a join writing w on(a.writingno=w.writingno) join PROJECTBOARD p on (p.boardno=w.boardno) where projectno=#{pjNo}
		union
		select a.*,p.boardtype from TASKATTACHMENT a join task t on(a.taskno=t.taskno) join PROJECTBOARD p on (p.boardno=t.boardno) where projectno=#{pjNo}
	</select>
	
	<!-- 프로젝트 참여자 초대하기 -->
	<insert id="insertProjectMember" parameterType="map">
		INSERT INTO PROJECTMEMBER VALUES(SEQ_PJMEMBERNO.NEXTVAL,#{pjno},#{userid})
		<selectKey order="AFTER" keyProperty="PJMEMBERNO" resultType="_int">
			SELECT SEQ_PJMEMBERNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>

</mapper>
