<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SelectedProjectUpdate">
	<delete id="deleteFavorite" parameterType="map">
		DELETE FAVORITE WHERE PROJECTNO = #{pjNo} AND USERID = #{loginId}
	</delete>
	
	<insert id="insertFavorite" parameterType="map">
		INSERT INTO FAVORITE VALUES(#{pjNo}, #{loginId})
	</insert>
	
	<update id="updateProjectColor" parameterType="map">
		UPDATE PROJECTTABLE SET PROJECTCOLOR = #{color} WHERE PROJECTNO = #{pjNo}
	</update>
	
	<delete id="deleteProjectMember" parameterType="map">
		DELETE PROJECTMEMBER WHERE PROJECTNO = #{pjNo} AND USERID = #{loginId}
	</delete>
	
	<update id="updateProjectManager" parameterType="map">
		UPDATE PROJECTTABLE SET USERID = #{newManagerId} WHERE PROJECTNO = #{pjNo}
	</update>
	
	<update id="updateSelectedProject" parameterType="map">
		UPDATE PROJECTTABLE SET PROJECTTITLE= #{title}, PROJECTSTATE= #{projectState} WHERE PROJECTNO = #{pjNo}
	</update>	
	
	<insert id="insertBookmark" parameterType="map">
		INSERT INTO BOOKMARK VALUES(#{loginId},#{bNo})
	</insert>
	
	<delete id="deleteBookmark" parameterType="map">
		DELETE BOOKMARK WHERE BOARDNO = #{bNo} AND USERID = #{loginId}
	</delete>
	
	<update id="updatePinPost" parameterType="map">
		UPDATE PROJECTBOARD SET PINPOST = #{check} WHERE PROJECTNO = #{pjNo} AND BOARDNO = #{bNo}
	</update>
	
	<insert id="insertComment" parameterType="map">
		INSERT INTO
 		<choose>
			<when test='postType eq "W"'>
		  		WRITINGCOMMENT VALUES(SEQ_WRITINGCOMMENTNO.NEXTVAL,
		  	</when>
			<when test='postType eq "T"'>
		  		TASKCOMMENT VALUES(SEQ_TASKCOMMENTNO.NEXTVAL,
		  	</when>
			<when test='postType eq "S"'>
		  		SCHEDULECOMMENT VALUES(SEQ_SCHEDULECOMMENTNO.NEXTVAL,
		  	</when>
		</choose>		
		#{comment},DEFAULT,#{postNo},#{senderId})		 
	</insert>
	
	<insert id="insertCommentNotification" parameterType="map">
		INSERT INTO NOTIFICATIONTABLE VALUES(SEQ_NOTNO.NEXTVAL, #{receiveId}, #{senderId}, #{commentType}, DEFAULT, DEFAULT, #{boardNo})
	</insert>	

	<update id="updateComment-W" parameterType="map">		 
		UPDATE WRITINGCOMMENT SET WRITINGCOMMENT = #{comment} WHERE WRITINGCOMMENTNO = #{commentNo}
	</update>		

	<update id="updateComment-T" parameterType="map">		 
		UPDATE TASKCOMMENT SET TASKCOMMENT = #{comment} WHERETASKCOMMENTNO = #{commentNo}
	</update>		

	<update id="updateComment-S" parameterType="map">		 
		UPDATE SCHEDULECOMMENT SET SCHEDULECOMMENT = #{comment} WHERE SCHEDULECOMMENTNO = #{commentNo}
	</update>		
	
	<delete id="deleteComment-W" parameterType="map">
		DELETE WRITINGCOMMENT WHERE WRITINGCOMMENTNO = #{cNo}
	</delete>
	
	<delete id="deleteComment-T" parameterType="map">
		DELETE TASKCOMMENT WHERE TASKCOMMENTNO = #{cNo}
	</delete>
	
	<delete id="deleteComment-S" parameterType="map">
		DELETE SCHEDULECOMMENT WHERE SCHEDULECOMMENTNO = #{cNo}
	</delete>	

	<update id="updateProjectBoardStatus" parameterType="map">		 
		UPDATE PROJECTBOARD SET STATUS = 'D' WHERE PROJECTNO = #{pjNo} AND BOARDNO = #{bNo}
	</update>		
	
	<select id="selectOrifiles" parameterType="map" resultMap="attachmentMap">
		 <choose>
			<when test='boardType eq "W"'>
		  		SELECT WRITINGNO "NO", WRITINGORINAME "ORI", WRITINGRENAME "RE" FROM WRITINGATTACHMENT WHERE WRITINGNO = #{postNo}
		  	</when>
			<when test='boardType eq "T"'>
		  		SELECT TASKNO "NO", TASKORINAME "ORI", TASKRENAME "RE" FROM TASKATTACHMENT WHERE TASKNO = #{postNo}
		  	</when>
		</choose>	
	</select>
	<resultMap type="Attachment" id="attachmentMap">
		<result column="no" property="no"/>
		<result column="ori" property="originalFilename"/>
		<result column="re" property="renamedFilename"/>
	</resultMap>
	
	
	<update id="updateWriting" parameterType="writing">
		UPDATE WRITING SET WRITINGTITLE = #{writingTitle}, WRITINGCONTENT = #{writingContent} WHERE WRITINGNO = #{writingNo}
	</update>
	
	<delete id="deleteHashTag" parameterType="hashTag">
		DELETE HASHTAG WHERE HASHTAGNO = #{hashtagNo}
	</delete>
	
	<delete id="deleteNotificationTB" parameterType="notification">
		DELETE NOTIFICATIONTABLE WHERE BOARDNO = #{boardNo} AND SENDERID = #{senderId}
			AND RECEIVEID = #{receiveId} AND NOTTYPE = #{notType}
	</delete>
	
	<delete id="deleteWritingAttachmentTB" parameterType="attachment">
		DELETE WRITINGATTACHMENT WHERE WRITINGNO = #{no} AND WRITINGORINAME = #{originalFilename} AND WRITINGRENAME = #{renamedFilename}
	</delete>

	<delete id="deleteProjectFile" parameterType="map">
		DELETE PROJECTFILE WHERE PROJECTNO = #{pjNo} AND PJFILEORINAME = #{oriName} AND PJFILERENAMEDNAME = #{reName}
	</delete>
	
	<!-- 업무수정 -->
	<update id="updateTask" parameterType="task">
		UPDATE TASK SET TASKTITLE = #{taskTitle}, TASKCONTENT = #{taskContent}, TASKSTATE = #{taskState}, TASKPROIORITY = #{taskProiority}
		<if test="taskStartdate!=null and !taskStartdate.equals('')">
			,TASKSTARTDATE = #{taskStartdate}
		</if>
		<if test="taskEnddate!=null and !taskEnddate.equals('')">
			,TASKENDDATE = #{taskEnddate}
		</if>
		    WHERE TASKNO = #{taskNo} AND BOARDNO = #{boardNo}
	</update>
	
	<delete id="deleteTaskManager" parameterType="insertTaskManager">
		DELETE TASKMANAGER WHERE TASKNO = #{taskNo} AND TASKMANAGERID = #{taskManagerId}
	</delete>
	
	<delete id="deleteTaskAttachmentTB" parameterType="attachment">
		DELETE TASKATTACHMENT WHERE TASKNO = #{no} AND TASKORINAME = #{originalFilename} AND TASKRENAME = #{renamedFilename}
	</delete>
	
	<!-- 일정수정 -->
	<update id="updateSchedule" parameterType="schedule">
		UPDATE SCHEDULE SET SCHEDULETITLE = #{scheduleTitle}, SCHEDULEPLACE = #{schedulePlace}, SCHEDULEMEMO = #{scheduleMemo}
		<if test="scheduleStartdate!=null and !scheduleStartdate.equals('')">
			,SCHEDULESTARTDATE = #{scheduleStartdate}
		</if>
		<if test="scheduleEnddate!=null and !scheduleEnddate.equals('')">
			,SCHEDULEENDDATE = #{scheduleEnddate}
		</if>
		    WHERE SCHEDULENO = #{scheduleNo} AND BOARDNO = #{boardNo}
	</update>	
	
	<update id="updateTaskProgressState" parameterType="map">
		UPDATE TASK SET TASKSTATE = #{state} WHERE TASKNO = #{taskNo} AND BOARDNO = #{bNo}
	</update>
	
	<insert id="insertTaskCommentProgressState" parameterType="map">
		INSERT INTO TASKCOMMENT
		VALUES(SEQ_TASKCOMMENTNO.NEXTVAL,#{str},DEFAULT,#{taskNo},#{loginId})
	</insert>
	
	<insert id="insertCommentNotificationProgressState" parameterType="map">
		INSERT INTO NOTIFICATIONTABLE VALUES(SEQ_NOTNO.NEXTVAL, #{taskId}, #{loginId}, 'taskcomment', DEFAULT, DEFAULT, #{bNo})
	</insert>
</mapper>
