<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="selectedProjectSelect">

	<select id="selectProjectBoard" parameterType="map" resultType="map">
		 <![CDATA[
			 SELECT * FROM (SELECT PB.* FROM PROJECTBOARD PB JOIN PROJECTTABLE PT ON PB.PROJECTNO = PT.PROJECTNO ORDER BY BOARDNO DESC) 
			 WHERE ROWNUM <=5
		 ]]>
	</select>

	<select id="selectWritingList" parameterType="map" resultType="map">
		SELECT * FROM WRITING
		<!-- JOIN WRITINGATTACHMENT WA USING (WRITINGNO)
		JOIN WRITINGCOMMENT WC USING (WRITINGNO) -->
	</select>
	
	<select id="selectTaskList" parameterType="map" resultType="map">
		SELECT * FROM TASK
        <!-- JOIN PROJECTBOARD PB USING(PROJECTNO)
        JOIN TASK T USING(BOARDNO) -->
	</select>
	
	<select id="selectScheduleList" parameterType="map" resultType="map">
		SELECT * FROM SCHEDULE 
        <!-- JOIN PROJECTBOARD PB USING(PROJECTNO)
        JOIN SCHEDULE S USING(BOARDNO) -->
	</select>

	<select id="selectPinPostCount" parameterType="map" resultType="map">
		SELECT COUNT(*) FROM PROJECTBOARD WHERE PINPOST='Y' <!--상단 고정글 갯수 -->
	</select>

	
	<select id="selectWritingAttachment" parameterType="map" resultType="map">
		SELECT * FROM WRITINGATTACHMENT
	</select>
	
	<select id="selectTaskManager" parameterType="map" resultType="map">
		SELECT *FROM TASKMANAGER
	</select>

	<select id="selectHashTag" parameterType="map" resultType="map">
		SELECT * FROM HASHTAG
	</select>
	
	<select id="selectNotification" parameterType="map" resultType="map">
		SELECT * FROM NOTIFICATIONTABLE
	</select>
	

	<select id="selectTaskAttachment" parameterType="map" resultType="map">
		SELECT * FROM TASKATTACHMENT
	</select>
	
	<select id="selectWritingComment" parameterType="map" resultType="map">
		SELECT * FROM WRITINGCOMMENT
	</select>
	
	<select id="selectTaskComment" parameterType="map" resultType="map">
		SELECT * FROM TASKCOMMENT
	</select>
	
	<select id="selectScheduleComment" parameterType="map" resultType="map">
		SELECT * FROM SCHEDULECOMMENT
	</select>
	
	<select id="selectProjectNo" resultType="map">
		SELECT * FROM PROJECTTABLE PJ
		JOIN PROJECTBOARD PB USING(PROJECTNO) WHERE BOARDNO=#{no}
	</select>
	
	<select resultType="map" parameterType="map" id="selectProjectTB">
		SELECT * FROM PROJECTTABLE WHERE PROJECTNO = #{pjNo} 
	</select>
	
	<select resultType="_int" parameterType="map" id="selectFavorit">
		SELECT COUNT(*) COUNT 
		FROM PROJECTTABLE PJ JOIN FAVORITE F ON PJ.PROJECTNO = F.PROJECTNO
		WHERE PJ.PROJECTNO = #{pjNo} AND F.USERID = #{loginId} 
	</select>
	
	<select resultType="projectMember" parameterType="_int" id="selectProjectMemberList">
		SELECT PM.*, U.USERNAME, U.PROFILE, U.DEPTCODE, U.JOBCODE
		FROM PROJECTMEMBER PM
		JOIN STOOLUSER U ON PM.USERID = U.USERID WHERE PM.PROJECTNO=#{pjNo}
<!-- 		JOIN STOOLUSER U ON PM.USERID = U.USERID WHERE PM.PROJECTNO=#{pjNo} -->
	</select>
	
</mapper>
