<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="selectedProjectSelect">

	<select id="selectProjectBoard" parameterType="_int" resultType="map">
<!-- 		 <![CDATA[
			 SELECT * FROM 
			 (SELECT PB.* FROM PROJECTBOARD PB JOIN PROJECTTABLE PT ON PB.PROJECTNO = PT.PROJECTNO WHERE PB.STATUS = 'V' ORDER BY BOARDNO DESC) 
			 WHERE ROWNUM <=5
		 ]]> -->
		 SELECT PB.* FROM PROJECTBOARD PB JOIN PROJECTTABLE PT ON PB.PROJECTNO = PT.PROJECTNO 
		 WHERE PB.STATUS = 'V' AND PB.PROJECTNO = #{pjNo}
		 ORDER BY BOARDNO DESC
	</select>

	<!-- 글,업무,일정에 대한 기본 테이블 불러오기 -->
	<select id="selectWritingList" parameterType="map" resultType="map">
		SELECT * FROM WRITING
		<!-- JOIN WRITINGATTACHMENT WA USING (WRITINGNO)
		JOIN WRITINGCOMMENT WC USING (WRITINGNO) -->
	</select>
	
	<select id="selectTaskList" parameterType="map" resultType="map">
		SELECT * FROM TASK
	</select>
	
	<select id="selectScheduleList" parameterType="map" resultType="map">
		SELECT * FROM SCHEDULE 
	</select>

	<!-- 상단 고정된 글 갯수 -->
	<select id="selectPinPostCount" parameterType="map" resultType="map">
		SELECT COUNT(*) FROM PROJECTBOARD WHERE PINPOST='Y' <!--상단 고정글 갯수 -->
	</select>

	
	
	<select id="selectTaskManager" parameterType="map" resultType="map">
		SELECT *FROM TASKMANAGER
	</select>

	<select id="selectHashTag" parameterType="map" resultType="map">
		SELECT * FROM HASHTAG
	</select>
	
	<select id="selectNotification" parameterType="map" resultType="map">
		SELECT * FROM NOTIFICATIONTABLE
	</select>
	
	
	<!--글,업무 첨부파일  -->
	<select id="selectWritingAttachment" parameterType="map" resultType="map">
		SELECT * FROM WRITINGATTACHMENT
	</select>
	
	<select id="selectTaskAttachment" parameterType="map" resultType="map">
		SELECT * FROM TASKATTACHMENT
	</select>
	
	
	<!-- 글,업무,일정 댓글 가져오기 -->
	<select id="selectWritingComment" parameterType="map" resultType="map">
		SELECT * FROM WRITINGCOMMENT ORDER BY WRITINGCOMMENTTIME
	</select>
	
	<select id="selectTaskComment" parameterType="map" resultType="map">
		SELECT * FROM TASKCOMMENT ORDER BY TASKCOMMENTTIME
	</select>
	
	<select id="selectScheduleComment" parameterType="map" resultType="map">
		SELECT * FROM SCHEDULECOMMENT ORDER BY SCHEDULECOMMENTTIME
	</select>
	
	<!--  asidebar-mapper로 이동
	관리자 포함 또는 관리자 제외 전체 프로젝트 참여 인원수
	<select id="selectProjectMemberNo" parameterType="map" resultType="map">
		SELECT COUNT(USERID) FROM PROJECTMEMBER
	</select> -->
	
	<!-- 프로젝트의 파일 가져오기 -->
	<select id="allAttach" parameterType="_int" resultType="allAttach">
		select a.*,p.BOARDTYPE,s.username,w.writingtime
	    from WRITINGATTACHMENT a join writing w on(a.writingno=w.writingno) 
	    join PROJECTBOARD p on (p.boardno=w.boardno)
	    left join STOOLUSER s on(userid=writingid) 
	    where projectno=#{pjNo}
	union
	select a.*,p.boardtype,s.username,t.tasktime
	    from TASKATTACHMENT a join task t on(a.taskno=t.taskno)
	    join PROJECTBOARD p on (p.boardno=t.boardno)
	    left join STOOLUSER s on(userid=taskid)
	    where projectno=#{pjNo}
	</select>
	
	
	<!--
	<select id="selectProjectMember" parameterType="map" resultType="map">
		SELECT * FROM PROJECTMEMBER
	</select> -->
	
	<select id="selectUser" parameterType="map" resultType="map">
		SELECT * FROM STOOLUSER
	</select> 
	
	
	<select resultType="projectMember" parameterType="_int" id="selectProjectMemberList">
		SELECT PM.*, U.USERNAME, U.PROFILE, U.DEPTCODE, U.JOBCODE
		FROM PROJECTMEMBER PM
		JOIN STOOLUSER U ON PM.USERID = U.USERID WHERE PM.PROJECTNO=#{pjNo}
	</select>
	
	<select resultType="map" parameterType="map" id="selectProjectTB">
		SELECT * FROM PROJECTTABLE WHERE PROJECTNO = #{pjNo} 
	</select>
	
	<select resultType="_int" parameterType="map" id="selectFavorit">
		SELECT COUNT(*) COUNT
		FROM PROJECTTABLE PJ JOIN FAVORITE F ON PJ.PROJECTNO = F.PROJECTNO
		WHERE PJ.PROJECTNO = #{pjNo} AND F.USERID = #{loginId}
	</select>
	
	<select resultType="map" parameterType="map" id="selectBookmarkList">
		SELECT PB.*, B.USERID
		FROM PROJECTBOARD PB JOIN BOOKMARK B ON PB.BOARDNO = B.BOARDNO
		WHERE B.USERID = #{loginId} AND PB.PROJECTNO = #{pjNo}
	</select>

	<select id="selectProjectTag" parameterType="_int" resultType="pjTag">
		SELECT HASHTAGTEXT TAG, COUNT(*) CNT
		FROM (SELECT * FROM HASHTAG T JOIN PROJECTBOARD PB ON T.BOARDNO = PB.BOARDNO WHERE PB.PROJECTNO = #{pjNo})
		GROUP BY HASHTAGTEXT
		ORDER BY CNT DESC
	</select>
	
	<select id="selectProjectBoardWithTag" parameterType="map" resultType="map">
		SELECT T.HASHTAGTEXT,PB.* FROM HASHTAG T JOIN PROJECTBOARD PB ON T.BOARDNO = PB.BOARDNO 
		WHERE PB.PROJECTNO = #{pjNo} AND T.HASHTAGTEXT = #{tag}
	</select>
	
</mapper>
