<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendar">
<select id="selectSchedule" resultType="com.madmax.stool.calendar.model.vo.Calendar">
SELECT * FROM SCHEDULE S JOIN PROJECTBOARD P ON S.BOARDNO=P.BOARDNO 
JOIN PROJECTMEMBER PM ON P.PROJECTNO=PM.PROJECTNO WHERE PM.USERID=#{id} AND STATUS='V'
</select>
<select id="selectProjectSchedule" resultType="com.madmax.stool.calendar.model.vo.Calendar">
SELECT S.*,P.* FROM SCHEDULE S JOIN PROJECTBOARD P ON S.BOARDNO=P.BOARDNO 
JOIN PROJECTMEMBER PM ON P.PROJECTNO=PM.PROJECTNO WHERE PM.USERID=#{id} AND P.PROJECTNO=#{pjNo} AND STATUS='V'
</select>
<select id="selectProjectTitle" resultType="string">
SELECT PROJECTTITLE FROM PROJECTTABLE WHERE PROJECTNO=#{pjNo} 
</select>
</mapper>
